:root{
    --red:#543864;
    --black:#252a34;
    --blue:#26f564;
    --white:#eaeaea;
    --pink:#4ecca3;
    --orange:#ff0101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

/*-------------IR ARRIBA--------------*/
.go-top{
    position: fixed;
    bottom: 100px;
    right: -100%;
    width: 50px;
    height: 50px;
    border: 3px solid var(--red);
    background: #ffffff;
    z-index: 9999;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 400ms;
}

.go-top:hover{
    border: 3px solid var(--white);
    background: var(--red);
}

.go-top:hover span{
    color: var(--white);

}

.go-top > span{
    font-size: 29px;
    color: var(--black);
}

/*--------LINEA ABAJO--------------*/

.linea-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 8vh 100vw;
    border-style: solid;
    border-color:  transparent transparent #ffffff transparent;
}

.linea-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 8vh 100vw 0 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    z-index: 10;
}

/*----MENU DE NAVEGACION-----*/

#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.menu .logo{
    margin-left: 20px;
}

.menu .logo h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}

.menu .list-container{
    margin-right: 20px;
}

.menu .list-container .lista{
    display: flex;
}

.menu .list-container .lista li{
    list-style: none;
}

.menu .list-container .lista li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.4s;
}

.menu .list-container .lista li a.activo{
    background: var(--red);
    color: #ffffff;
}

.menu .list-container .lista li a:hover{
    background: var(--red);
    color: #ffffff;
}

.btn-menu > .fa-bars{
    display: none;
}

/*---------------IMG HEADER---------------*/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/baner2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header .hola{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .hola h1{
    font-size: 50px;
    color: #ffffff;
    font-weight: 200;
}

.img-header .hola hr{
    width: 400px;
    height: 2px;
    background: #ffffff;
    border: none;
    margin-top: 5px;

}

.img-header .hola p{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.img-header .hola > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.img-header .hola > button:hover{
    background: var(--blue);
}


/*------------------------Acerca de Nosotros---------------------------------*/
.acerca-de{
    width: 100%;
    margin-top: 120px;
}

.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}

.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px 0px;
}

.acerca-de .info-container .la-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.acerca-de .info-container .la-galeria img{
    width: calc(50% - 10px);
    height: 350px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.acerca-de .info-container .more{
    width: 100%;
    display: flex;
    justify-content: center;
}

.acerca-de .info-container .more button{
    width: 120px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.acerca-de .info-container .more button:hover{
    background: var(--blue);
}

/*--------------NUESTRAS CARRERAS--------------------*/
.carera{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/care.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}

.carera .degradado{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.carera .ejeZproyect{
    position: relative;
    width: 100%;
    height: 100%;
}

.carera .container-proyect{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.carera .container-proyect .proyect-title{
    border: 2px solid #ffffff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.carera .container-proyect .proyect-title h2{
    font-size: 40px;
    color: #ffffff;
    font-weight: normal;
}

.carera .container-proyect .proyect-title h3{
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
}

.carera .container-proyect .proyect-title hr{
    background: #ffffff;
    width: 50%;
    margin: 10px auto;
}

.carera .container-proyect .proyect-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}

.carera .container-proyect .proyect-img img{
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

/*---------------FOOTER------------------*/


footer{
    background: rgb(125, 117, 153,0.5);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2px solid #0d0cb5;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #000000;
    border-bottom: 3px solid #4592af;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #000000;
}

.titulo-final{
    text-align: center;
}

/*-------------------MEDIDAS------------------------*/

@media only screen and (max-width:360px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }

    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #ffffff;
    }

    .menu .list-container .lista{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--red);
    }

    .menu .list-container .lista li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 2px solid var(--red);
        text-align: center;
    }

    .menu .list-container .lista li a{
        font-size: 23px;
    }

    .menu .list-container .lista li a.activo{
        background: none;
        color: var(--pink);
    }

    .menu .list-container .lista li a:hover{
        background: none;
        color: var(--pink);  
    }
    .carera .container-proyect .proyect-img img{
        width: 80%;
        margin-bottom: 30px;
    }
    .menu .list-container .lista li a{
        font-size: 21px;
    }
    .menu .logo h1 a{
        font-size: 22px;
    }

    .img-header .hola h1{
        font-size: 22px;
    }

    .img-header .hola hr{
        width: 90%;
    }

    .img-header .hola p{
        font-size: 17px;
    }

    .acerca-de .info-container .la-galeria{
        flex-direction: column;
    }

    .acerca-de .info-container .la-galeria img{
        width: 100%;
        height: 250px;
    }

    .acerca-de .info-container h1{
        font-size: 40px;
    }

    .carera .container-proyect .proyect-title h2{
        font-size: 25px;
        color: #ffffff;
        font-weight: normal;
    }

    .contenedor-footer .content-foo h4{
        font-size: 14px;
    }

    .contenedor-footer .content-foo p{
        font-size: 12px;
    }

    .titulo-final{
        font-size: 22px;
    }
}
